*.egg-info
*.pot
*.py[co]
.tox/
temp/*
.DS_Store
__pycache__
MANIFEST
dist/
unibind/settings.py
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
UniBind.sql
UniBind.sqlite3
tests/report/
bin
temp
static/data