*.egg-info
*.pot
*.py[co]
.tox/
temp/*
.DS_Store
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
unibind.sqlite
unibind/settings.py
bin
