{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Download data  
{% endblock %}

{% block content_header %}
 Download data
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li class="active">Downloads</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h4><i class="fa fa-download"> </i> Download TFBSs and cis-regulatory modules (CRMs) per model </h4>
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="detailTabs">
              {% for model in models %}
              <li class="{% if forloop.counter == 1 %} active {% endif %}"><a href="#{{ model }}" data-toggle="tab">{{ model }}</a></li>
              {% endfor %}
              
            </ul>
            <div class="tab-content">
              {% for model in models %}
              <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane" id="{{ model }}">
                <p>
                  <h4>Download data for model: <b>{{ model }}</b></h4>
                  <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs" id="detailTabs-peakcallers">
                    {% for peak_caller in peak_callers %}
                    <li class="{% if forloop.counter == 1 %} active {% endif %}"><a href="#{{ model }}-{{ peak_caller }}" data-toggle="tab">{{ peak_caller }}</a></li>
                    {% endfor %}
                    
                  </ul>
                  <div class="tab-content">
                    {% for peak_caller in peak_callers %}
                    <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane" id="{{ model }}-{{ peak_caller }}">
                     
                    <div class="row">
                      <div class="col-md-12">
                    
                        Download data for prediction model <b>{{ model }}</b> and peak-caller <b>{{ peak_caller }}</b>

                        
                        <h4>Download TFBSs:</h4>
                        <p>

                        <a href="{% static "" %}data/bulk/all_tfbs_{{ peak_caller|lower }}.tar.gz"><h5><i class="fa fa-download"> </i> All TFBSs (in BED format)</h5></a>
                        <a href="{% static "" %}data/bulk/all_tfbs_per_tf_{{ peak_caller|lower }}.tar.gz"><h5><i class="fa fa-download"> </i> TFBSs per TF (in BED format)</h5></a>
                        <a href="{% static "" %}data/bulk/all_tfbs_sequences_per_tf_{{ peak_caller|lower }}.tar.gz"><h5><i class="fa fa-download"> </i> FASTA files for the TFBSs per TF</h5></a>
                        </p>
                        <hr>

                        <h4>Download cis-regulatory modules (CRMs):</h4>
                        <p>

                        <a href="{% static "" %}data/bulk/all_peaks_{{ peak_caller|lower }}.tar.gz"><h5><i class="fa fa-download"> </i> All Peaks (in BED format)</h5></a>
                        <a href="{% static "" %}data/bulk/all_peaks_per_tf_{{ peak_caller|lower }}.tar.gz"><h5><i class="fa fa-download"> </i> Peaks per TF (in BED format)</h5></a>
                        </p>

                      </div>

                    </div>
                    </div>                    
                    {% endfor %}
                  </div>
                  <!-- /.tab-content -->
                  </div>
                </p>
              </div>
              {% endfor %}
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
      </div>   
        <!-- /.col -->
        
      </div>

{% endblock %}