{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Download data  
{% endblock %}

{% block content_header %}
 Download data
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li class="active">Downloads</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h4><i class="fa fa-download"> </i> Download TFBSs per prediction model </h4>
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="detailTabs">
              {% for model in models %}
              <li class="{% if forloop.counter == 1 %} active {% endif %}"><a href="#{% if model == 'DiMO' %}PWM{% else %}{{ model }}{% endif %}" data-toggle="tab">{% if model == 'DiMO' %} PWM {% else %}{{ model }}{% endif %}</a></li>
              {% endfor %}
              
            </ul>
            <div class="tab-content">
              {% for model in models %}
              <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane" id="{% if model == 'DiMO' %}PWM{% else %}{{ model }}{% endif %}">
                <p>
                  <h4>Download data for model: <b>{% if model == 'DiMO' %} PWM {% else %}{{ model }}{% endif %}</b></h4>
                  <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs" id="detailTabs-peakcallers">
                    {% for peak_caller in peak_callers %}
                    <li class="{% if forloop.counter == 1 %} active {% endif %}"><a href="#{% if model == 'DiMO' %}PWM{% else %}{{ model }}{% endif %}-{{ peak_caller }}" data-toggle="tab">{{ peak_caller }}</a></li>
                    {% endfor %}
                    
                  </ul>
                  <div class="tab-content">
                    {% for peak_caller in peak_callers %}
                    <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane" id="{% if model == 'DiMO' %}PWM{% else %}{{ model }}{% endif %}-{{ peak_caller }}">
                     
                    <div class="row">
                      <div class="col-md-12">
                    
                        Download TFBSs for prediction model <b>{% if model == 'DiMO' %} PWM {% else %}{{ model }}{% endif %}</b> and peak-caller <b>{{ peak_caller }}</b>

                        <hr>
                        <p>
                        <a href="{% static "" %}data/bulk/{{ model|lower }}_tfbs.tar.gz"><h5><i class="fa fa-download"> </i> All TFBSs (in BED format)</h5></a>
                        <a href="{% static "" %}data/bulk/{{ model|lower }}_tfbs_per_tf.tar.gz"><h5><i class="fa fa-download"> </i> TFBSs per TF (in BED format)</h5></a>

                        <a href="{% static "" %}data/bulk/{{ model|lower }}_tfbs_sequences.tar.gz"><h5><i class="fa fa-download"> </i> FASTA files for the TFBSs</h5></a>

                        <a href="{% static "" %}data/bulk/{{ model|lower }}_tfbs_sequences_per_tf.tar.gz"><h5><i class="fa fa-download"> </i> FASTA files for the TFBSs per TF</h5></a>
                        </p>

                      </div>

                    </div>
                    </div>                    
                    {% endfor %}
                  </div>
                  <!-- /.tab-content -->
                  </div>
                </p>
              </div>
              {% endfor %}
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
      </div>   
        <!-- /.col -->

      <div class="col-md-12 col-lg-12 col-xs-12">

          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-download"></i> Download cis-regulatory modules (CRMs) and Peaks</h3>
              </div>
            <!-- /.box-header -->
            <div class="box-body">

              <p>
                <a href="{% static "" %}data/bulk/all_crm_per_cell_line.tar.gz"><h5><i class="fa fa-download"> </i> All CRMs per Cell-line (in BED format)</h5></a>
                <a href="{% static "" %}data/bulk/all_crm.tar.gz"><h5><i class="fa fa-download"> </i> All CRMs (in BED format)</h5></a>

                <a href="{% static "" %}data/bulk/remap2018_peaks_per_tf.tar.gz"><h5><i class="fa fa-download"> </i> All ReMap peaks per TF (in BED format)</h5></a>
              </p>

              <!-- code folding -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        
      </div>

{% endblock %}