{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
A map of direct TF-DNA interactions in the human genome
{% endblock %}

{% block content_header %}
{% endblock %}
      
{% block breadcrumb %}
{% endblock %}

{% block main_header %} {% endblock %}

{% block content %}

  {% block stylesheets %}
    <style type="text/css">
  

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #fff url("{% static 'img/TF.png' %}") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    position:absolute;
    top:0;left:0;
    z-index:1;
}
.jumbotron {position:relative;padding:50px;
  border-radius: 8px;
  border: 4px;
  border-color: #fff;
  border-style: solid;
}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}
  </style>

  {% endblock %}


    <div class="row">
    
    {% include "portal/quick_search.html" %}

    </div>

  
    <div class="row">

      <div class="col-md-6 col-lg-6 col-xs-12">
        
        <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-info"></i> What is UniBind?</h3>
              </div>
          <div class="box-body" id="jaspar-core">

          <p><b>UniBind</b> is a comprehensive map of direct interactions between transcription factor (TFs) and DNA. High confidence TF binding site predictions were obtained from uniform processing of thousands of ChIP-seq data sets using the  <a href="https://bitbucket.org/CBGR/chip-eat" target="_blank"> <b>ChIP-eat</b></a> software.
        </p>
          <p>
            <img class="img-responsive img-rounded center-block" src="{% static 'img/chipeat.png' %}" width="80%">
          </p>
          </div>
          </div>
        </div>

         <div class="col-md-6 col-lg-6 col-xs-12">

          <div class="jumbotron jumbotron-billboard">
            <div class="img"></div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <h2 align="center">A map of direct TF-DNA interactions in the human genome</h2>
                          <h5 align="center"><a href="/about">Read more about UniBind</a></h5> <br>
                          <p align="center"><a class="btn btn-md btn-success" id="unibind-tour" href="#" role="button"><i class="fa fa-play"></i> UniBind Interactive Tour</a></p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-pencil-square-o"></i> Citing UniBind</h3>
              <div class="pull-right">
                   <a href="https://www.ncbi.nlm.nih.gov/pubmed/" target="_blank"><i class="ai ai-pubmed"></i> PubMed </a> 
                   | <a href="https://doi.org/" target="_blank"><i class="fa fa-external-link"></i> Journal </a>
                   | <a href="#" target="_blank"> <i class="fa fa-file-pdf-o"></i> PDF </a>
              </div>
            </div>
            <div class="box-body">
            Gheorghe M, Sandve GK, Khan A, Cheneby J, Ballester B, Mathelier A. (2018) A map of direct TF-DNA interactions in the human genome, bioRxiv; doi: <a href="https://doi.org/10.1101/394205​​" target="_blank">10.1101/394205​​ </a>
         
            </div>
          </div>
      </div>    
      </div>

      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ datasets }}</h3>

              <p>ChIP-seq datasets</p>
            </div>
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
             <!--
            <a href="/search?q=" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          -->
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ cell_lines|length }}</h3>

              <p>Cell lines & Tissues</p>
            </div>
            <div class="icon">
              <i class="ion ion-heart"></i>
            </div>
            <!--
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          -->
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ tf_names|length }}</h3>

              <p>Transcription Factors</p>
            </div>
            <div class="icon">
              <i class="ion ion-link"></i>
            </div>
             <!--
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          -->
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ prediction_models|length }}</h3>

              <p>Prediction models</p>
            </div>
            <div class="icon">
              <i class="ion ion-link"></i>
            </div>
             <!--
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          -->
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- /.row -->

    {% block javascript %}
     <script type="text/javascript">
      $('#unibind-tour').click(function(){
        var tour = {
          id: 'unibind-home',
          showPrevButton: true,
          scrollDuration: 700,
          steps: [
            {
              title: 'Welcome to UniBind',
              content: 'UniBind is a comprehensive map of direct TF-DNA interactions in the human genome.',
              target: 'unibind-search',
              placement: 'bottom',
              xOffset: "center",
              arrowOffset: "center",
              onNext: function() {
                $('#unibind-search').val('SRF');
              }
            },

            {
              title: 'Search UniBind database',
              content: "You can search UniBind by TF name or dataset identifiers or any other keyword.",
              target: 'unibind-search',
              placement: 'bottom',
              ultipage: true,
              onNext: function() {
                window.location = '/search?q=SRF';
              }
            },

            {
              title: 'Search UniBind database',
              content: "You can search UniBind by TF name or dataset identifiers or any other keyword.",
              target: 'advanced-search',
              placement: 'bottom',
              onNext: function() {
                $('ul#api-pulldown').toggle(200);
              }
            }
      
          ]
        }
       if(hopscotch.getState() === "unibind-home:4") {
        hopscotch.startTour(tour, 4);
       }else{
        hopscotch.startTour(tour, 0);
       }

      });
    </script>
    {% endblock %}

  {% endblock %}