{% extends "rest_framework/api_base.html" %}
{% load static %}
{% load rest_framework %}

{% block title %}
RESTful Live API
{% endblock %}

{% block content_header %}
{% endblock %}
      
{% block breadcrumb %}
  <ol class="breadcrumb">

  <li><a href="/api/"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="#"> Live API</a></li>
  </ol>
{% endblock %}


{% block content %}

 <div class="row">

  <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="box box-primary">
           
        <!-- /.box-header -->
        <div class="box-body">

            <iframe frameborder="0" class="embed-responsive-item" src="{{ request.get_api_host }}live/" width="100%" height="800px"></iframe>
            
        </div>
        </div>
    </div>
  
</div>

{% endblock %}



