{% extends "rest_framework/base.html" %}
{% load static %}
{% load rest_framework %}

{% block title %}
UniBind RESTful API
{% endblock %}

{% block content_header %}
 
{% endblock %}
      
{% block breadcrumb %}

{% endblock %}


{% block content %}

 <div class="row">
    <div class="col-md-12">

    <!-- Server down notification -->
    <!--
      <div class="alert alert-danger alert-dismissible">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <b>Note:</b> Our server will be down for maintenance from Thursday (13/07/2017) 14:00 (GMT+2) to Friday (14/07/2017) 12:00 (GMT+2).
     </div>

     -->

 	  <div class="jumbotron">
        <h1 class="display-3" align="center">{<font style="color:#19b491"><b>UniBind</b></font> RESTful API}</h1>
        <p class="lead" align="center">This is UniBind browsable API, which provides easy-to-use REST web interface to query/retrieve data from UniBinD database. The API comes with a human browsable interface and also programmatic interface, which return the results in different formats, including <code>json</code>, <code>jsonp</code>,<code>yaml</code>, <code>bed</code> and also <code>api</code> for browsable interface.</p>
        <p align="center"><a class="btn btn-lg btn-success" href="/api/v1/tfs" role="button">Try it Now</a> 
        <a class="btn btn-lg btn-info" href="/api/v1/live-api/" role="button">Live API</a>
        </p>
     <!--
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="icon fa fa-alert"></i> This is a beta version of JASPAR REST API. Please <a href="/contact-us"> contact us </a> if you'd like to integrate our API in your pipeline/resource.
        </div>
      -->
      </div>

     <div class="panel panel-info">
     <div class=panel-heading> <h3 class=panel-title> <i class="icon fa fa-globe"></i> Read more about UniBind and UniBind RESTful API</h3> </div>
     <div class=panel-body>
     <ul>
     <li>Gheorghe M, Sandve GK, Khan A, Cheneby J, Ballester B, Mathelier A. A map of direct TF-DNA interactions in the human genome, Nucleic Acids Res. 2018; <a href="https://doi.org/10.1093/nar/gky1210" target="_blank"> 10.1093/nar/gky1210</a>
     </li>

     </ul>
</div>
     </div>


    </div>

</div>
{% endblock %}



